@import "./mixins";
.container{
    width: 1406px;
    margin: 0 auto;
}
//space-between along X axis
.space-between-x{
    display: flex;
    justify-content: space-between;
}
//common for all buttons
.btn{
    font-weight: 500;
    color: #fff;
    border-radius: 6px;
    padding: 1.2rem 3.6rem;
    background-color: $theme-color-2;
    text-transform: uppercase;
}
.section-header{
    @include font(4rem, 600, normal);
    text-align: center;
}