@font-face {
    font-family: 'RubikFont';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/Rubik-Regular.ttf')
}
@font-face {
    font-family: 'RubikFont';
    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/Rubik-Medium.ttf')
}
@font-face {
    font-family: 'RubikFont';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/Rubik-SemiBold.ttf')
}
@font-face {
    font-family: 'RubikFont';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/Rubik-Bold.ttf')
}
