// @import "./fonts";
//Colors
$main-color: #1C2023;
$theme-color-1: #30373F;
$theme-color-2: #8856D9;
$theme-color-3: #A9C7C7;
$theme-color-4: #8C96A0;
$theme-color-5: #8C96A0;

//fonts
$main-font: "RubikFont", sans-serif;